<div ng-show="showFooter" class="ngFooterPanel" ng-style="footerStyle()">
    <div class="ngPagerContainer" >
        <div class="ngPagerControl">
            <span class="ngLabel">{{pagingOptions.pageSize*pagingOptions.currentPage-6}} - {{rowsInGrid()}} of {{maxRows()}}</span>
            <button type="button" class="btn btn-lg btn-pagination" ng-click="pageBackward()" ng-disabled="cantPageBackward()" >&LT;</button>
            <button type="button" class="btn btn-lg btn-pagination" ng-click="pageForward()" ng-disabled="cantPageForward()">&GT;</button>
        </div>
    </div>
</div>

maxrows - zuzyte rekordy
12 - 7 = 5

47 - 21 = 26
